/* IMPORTS */
/* VARIABLES */
/* QUERIES */
/*
  New iPhones viewport
*/
/*  Non mobile first for specific scenarios where elements shouldn't be displayed on mobile */
/*  Mobile Visibility classes */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_header\.scss}line{font-family:\000031}}
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cards-mockup-1.png);
  background-size: cover;
  background-position: 43% 10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_all-cards\.scss}line{font-family:\000032}}
main .cards-wrapper {
  margin: 40px 40px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_all-cards\.scss}line{font-family:\000038}}
  main .cards-wrapper .single-card {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 3%, rgba(255, 255, 255, 0));
    position: relative;
    border-radius: 5%;
    transform: perspective(750px);
    transition: 0.1s ease;
    /*.gradient {
    	background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 3%, rgba(255, 255, 255, 0) 60%);
    	position: absolute;
    	top: -100%;
    	left: 0%;
    	width: 200%;
    	height: 200%;
    	content: '';
    	z-index: -1;
    	transition: top 1s ease-out,left 1s ease-out;
    }*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_all-cards\.scss}line{font-family:\0000315}}
    main .cards-wrapper .single-card::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5%;
      box-shadow: 0 30px 60px -8px rgba(0, 0, 0, 0.5), 0 18px 36px -10px rgba(0, 0, 0, 0.4), 0 -12px 36px -6px rgba(0, 0, 0, 0.2);
      transition: .4s ease;
      opacity: .3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_all-cards\.scss}line{font-family:\0000344}}
  main .cards-wrapper .card-hover {
    transition-duration: .1s; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/_all-cards\.scss}line{font-family:\0000347}}
    main .cards-wrapper .card-hover::after {
      opacity: .8; }

/* GENERAL STUFF */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\000039}}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000316}}
h1, h2, h3 {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000320}}
a, i, p {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000324}}
p {
  text-align: justify;
  text-justify: inter-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000329}}
ul {
  list-style: none;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000334}}
ol {
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/merda\/OneDrive\/Ambiente\%20de\%20Trabalho\/RuneScape\%20Deck\/WEB\/scss\/app\.scss}line{font-family:\0000338}}
body {
  background: #222222; }

/*# sourceMappingURL=app.css.map */
