main {
	.cards-wrapper {
		margin: 20px 20px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		@include mediumScreen {
			margin: 40px 40px;
			grid-template-columns: repeat(13, 1fr);
		}
		@include xlargeScreen {
			grid-template-columns: repeat(13, 1fr);
			grid-gap: 20px;
		}

		.single-card {
			background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 3%, rgba(255, 255, 255, 0)) #222222;
			position: relative;
			border-radius: 5%;
			transform: perspective(750px);
			transition: 0.1s ease;
			cursor: pointer;

			&::after {
			    content: '';
			    position: absolute;
			    left: 0;
			    top: 0;
			    width: 100%;
			    height: 100%;
			    border-radius: 5%;

			    box-shadow: 0 30px 60px -8px rgba(0, 0, 0, .5),
        		0 18px 36px -10px rgba(0, 0, 0, .4),
        		0 -12px 36px -6px rgba(0, 0, 0, .2);
			    transition: .4s ease;
			    opacity: .3;
			}

			/*.gradient {
				background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 3%, rgba(255, 255, 255, 0) 60%);
				position: absolute;
				top: -100%;
				left: 0%;
				width: 200%;
				height: 200%;
				content: '';
				z-index: -1;
				transition: top 1s ease-out,left 1s ease-out;
			}*/
		}

		.card-hover {
		    transition-duration: .1s;

		    &::after {
			    opacity: .8;
			}
		}
	}
}