main {
	.deck-preview-wrapper {
		max-width: 800px;
		margin: auto;

		.click-to-preview {
			h1 {
				font-size: 1em;
				margin: 0;

				@include mediumScreen {
					font-size: 1.5em;
				}

				@include largeScreen {
					font-size: 2em;
				}
			}
		}

		.suit-picker {
			margin: 20px auto 10px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 10px;
			@include mediumScreen {
				grid-gap: 20px;
				margin: 40px auto 10px;
			}
			@include xlargeScreen {
				grid-gap: 20px;
			}

			@include card-3d;
		}

		.selected-arrow-wrapper {
			margin: auto;
			margin-top: -10px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 10px;
			position: relative;
			z-index: -1;

			@include mediumScreen {
				margin-top: 0;
			}

			&.hidden-start {
				display: none;
			}

			.triangle {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5em;

				@include mediumScreen {
					font-size: 2em;
				}

				@include largeScreen {
					font-size: 3em;
				}

				> * {
					color: #8e8e8e;
				}

				&.hidden {
					visibility: hidden;
				}
			}
		}

		.chosen-suit {
			margin: 10px auto 0;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 10px;
			@include mediumScreen {
				margin: 20px auto 0;
				grid-template-columns: repeat(6, 1fr);
				grid-gap: 20px;
			}
			@include xlargeScreen {
				grid-gap: 20px;
			}

			&.hidden {
				display: none;
			}

			&.hidden-start {
				visibility: hidden;
			}

			@include card-3d;
		}
	}
}
