header {
	display: flex;
	justify-content: center;
	height: 100vh;
    background: url(../images/deck-packaging.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include mediumScreen {
    	height: 60vh;
	    background-size: contain;
	    background-position: top right;
	}
	@include xlargeScreen {
		height: 100vh;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Cinzel', serif;
		margin: 0;
	}

	#main-title {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h3 {
			font-size: 3vw;
			font-family: 'Cinzel Decorative', cursive;
		}

		h1 {
			font-size: 7vw;
			font-weight: 600;
		}

		h5 {
			font-size: 2vw;
			font-style: italic;
		}
	}
}