main {
	.section-odd-even:nth-child(odd) {
		background: #262626;
		padding: 40px 10px;

		@include mediumScreen {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}

	.section-odd-even:nth-child(even) {
		background: #222222;
		padding: 40px 10px;

		@include mediumScreen {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}

	.concept {
		max-width: 800px;
		margin: auto;

		p {
			font-weight: 100;
			letter-spacing: 1px;
			font-style: italic;
			font-family: 'Cinzel', serif;
			font-size: 1em;
			text-align: center;

			@include mediumScreen {
				font-size: 1.5em;
			}

			@include largeScreen {
				font-size: 2em;
			}
		}
	}
}