main {
	.section-odd-even {
		margin: 0 30px;
		padding: 60px 0;
		border-bottom: 1px solid lighten($bg-color, 10%);

		@include mediumScreen {
			margin: 0 auto;
			max-width: 600px
		}

		@include largeScreen {
			margin: 0 auto;
			max-width: 1000px;
		}

		&:last-child {
			border: none;
		}
	}

	.concept {
		max-width: 800px;
		margin: auto;

		p {
			font-weight: 100;
			letter-spacing: 1px;
			font-style: italic;
			font-family: 'Cinzel', serif;
			font-size: 1em;
			text-align: center;

			@include mediumScreen {
				font-size: 1.2em;
				text-align: justify;
			}

			&.signature {
				margin-top: 10px;
				font-size: .8em;
				text-align: right;

				@include mediumScreen {
					font-size: 1em;
				}
			}
		}
	}
}