/* IMPORTS */
@import "variables-and-mixins";
@import "rwd-queries";
@import "header";
@import "all-cards";

/* GENERAL STUFF */

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: $text-color !important;
}

h1, h2, h3 {
	text-align: center;
}

a, i, p {
	margin: 0;
}

p {
	text-align: justify;
  	text-justify: inter-word;
}

ul {
	list-style: none;
	margin: 0;
}

ol {
	margin-bottom: 0;
}

body {
	background: #222222;
}